/* layout */
.layout-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    top: 0;
    left: 0;
}
/* Aside */
aside{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 24rem;
    background: #fff;
    box-shadow: 0 0 0.375rem 0.25rem rgb(161 172 184 / 15%);
    padding: 2rem; 
    z-index: 10;
    overflow-y: auto;
}
.aside-hide{
    position: absolute;
    font-size: 2rem;
    top: 1.25rem;
    right: 2rem;
    background: #00407029;
    color: #004070;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    display: none;
}
/* menu */
aside .menu{
    padding: 2.5rem 0 1rem;
    list-style-type: none;
    width: 100%;
}
aside .menu-active,
aside .menu li:hover{
    background: #00407029;
    color: #004070;
}
aside .menu li{
    width: 100%;
    padding: 1rem;
    margin: 0 0 1rem; 
    border-radius: .5rem;
}
aside .menu li a{
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
}
aside .menu li a i{
    width: 1.6rem;
    height: 1.6rem;
    margin: 0 1rem 0 0;
}

/* main */
.main{
    margin: 0;
    grid-column: span 6;
}
.main tr{
    border: .1rem solid;
}
.main .table-custom-top{
    border-bottom: .1rem solid #d6e0e8;
    padding:  0 0 1.5rem 0;
    margin: 0 0 1.5rem 0;
}
main{
    position: relative;
    right: 0;
    bottom: 0;
    top: 0;
    width: calc(100% - 24rem);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem 3rem;
}
.main-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 6rem;
    grid-auto-rows: minmax(15rem, auto) ;
    grid-gap:3rem;
}
/* nav */
nav{
    width: 100%;
    margin:  0 !important; 
    grid-column: 1 / 7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem !important;
    position: relative;
}
.logo{
    width: auto;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 5rem;
    height: 5rem;
}
.logo span{
    height: 5rem;
    margin: 0 0 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 2rem;
}
.sign-buttons{
    display: block;
}
.sign-icon{
    display: none;
}
.user{
    cursor: pointer;
}
.user-in{
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-name{
    margin: 0 1rem;
}
.user-in .user-img{
    display: inline-block;
    width: 4.5rem;
    height: 4.5rem;
}
.user-in .user-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 1rem #00407029;
}
.user-dropdown{
    position: absolute;
    top: 5.5rem;
    right: 0;
    z-index: 2;
    border: .1rem solid #004070;
    text-shadow: 0 0 .3rem #fff;
    padding: 1rem 2rem;
    color: #004070;
    text-align: left;
    display: none;
}
.user-dropdown .spike{
    position: absolute;
    top:-.6rem;
    right: 2rem;
    border-left: .1rem solid #004070;
    border-top: .1rem solid #004070;
    background: #fff;
    transform: rotate(45deg);
    z-index: 1;
    width: 1rem;
    height: 1rem;
    display: inline-block;
}
.user-dropdown a{
    margin: .5rem 0;
    width: 100%;
    display: inline-block;
}
.user-dropdown a i{
    margin: 0 .5rem 0 0;
}
.aside-show{
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.info-palates{
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    grid-column: 1 / 7;
    grid-gap: 3rem;
}
.info-palate{
    margin: 0 !important;
    padding: 2rem;
    flex-direction: column;
    justify-content: space-between;
}
.info-palate .image{
    font-size: 3.5rem;
    text-align: right;
}
.info-palate .value{
    font-size: 2.5rem;
}
.info-palate .name{
    font-size: 1.8rem;
}
.services{
    grid-column: span 6;
    margin: 0;
    padding: 3rem !important;
}
.team{
    grid-column: span 6;
    margin: 0;
    padding: 3rem !important;
}
.row{
    width: 100%;
    margin: 0 0 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wide{
    width: 100%;
    margin: 1rem 0;
}
table{
    width: 100%;
    overflow-x: auto;
}
table tr td img{
    border-radius: 1rem !important;
}
.carosel-wrapper{
    position: relative;
}
.carosel-wrapper p{
    align-items: center;
}
.carosel-wrapper .indicator{
    position: absolute;
    bottom: 3rem;
    left: 5rem;
    align-items: center;
    justify-content: center;
}
.carosel-wrapper .indicator .dot{
    display: block;
    border: .1rem solid #004070;
    background: #00407029;
    width: 2rem;
    height: 2rem;
    margin: 0 .5rem;
    border-radius: 50%;
    cursor: pointer;
}
.carosel-wrapper .indicator .active{
    border: .3rem solid #004070;
    width: 2.5rem;
    height: 2.5rem;
}
.appointment-wrapper{
    grid-row: span 2;
}
.appointment-wrapper,
.carosel-wrapper{
    margin: 0 !important;
    grid-column: span 6;
}
.slide{
    display: none;
}
.slide-content{
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.slide-txt{
    margin: 0;
    width: 50%;
    padding: 0 2rem;
}
.slide-img{
    margin: 0;
    width: 50%;
}
.slide-img img{
    width: 100%;
    border-radius: 1.5rem 1.5rem 1.5rem 50%;
}
.box-body{
    height: calc(100% - 5rem);
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
.appointment-caption{
    font-size: 2rem;
    margin: 0 0 1rem 0;
}
.appointment-inputs{
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(6, 1fr);

}
.appointment-input{
    grid-column: span 2;
}
.appointment-input input{
    background: #00407029;
    border: none;
    width: 100%;
    outline: none;
    margin: .5rem 0 0 0;
    padding: 1rem;
    font-size: 1.6rem;
    border-radius: .5rem;
}
.appointment-inputs .description{
    grid-row: span 2;
}
.appointment-inputs .description textarea{
    background: #00407029;
    border: none;
    width: 100%;
    height: 14rem;
    outline: none;
    margin: .5rem 0 0 0;
    padding: 1rem;
    font-size: 1.6rem;
    border-radius: .5rem;
}
.btn-appointment{
    font-size: 2rem;
    grid-column: span 6;
}
/* services */
.services-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}
.service{
    grid-column: span 1;
}
.service img{
    width: 100%;
}
/* Testimonials */
.testimonials{
    margin: 0 !important;
    grid-column: span 3;
    grid-row: span 2;
    text-align: center;
}
.testimonials .box-body img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    box-shadow: 0 0 2rem #00407039;
    border: .01rem solid #00407039;
}
/* team */
.team-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}
.team-wrapper .member{
    grid-column: span 1;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}
.team-wrapper .member:hover > .profile{
    bottom: 0;
}
.team-wrapper .member .profile{
    position: absolute;
    bottom: -4.5rem;
    left: 0;
    right: 0;
    background: #00407090;
    color: #fff;
    transition: all .3s ease;
}
.team-wrapper .member .profile h2{
    margin: 1.5rem 0 0;
}
.team-wrapper .member .profile h4{
    margin: .5rem 0 1rem;
    font-weight: 500;
}
.team-wrapper .member .profile .socials{
    margin: 2rem 0;
}
.team-wrapper .member .profile .socials i{
    font-family: 'FontAwesome';
    margin: 0 .5rem;
    font-size: 2rem;
}
.team-wrapper .member img{
    width: 100%;
    height: 100%;
}
/* about us */
.about-us-wrapper{
    margin: 0 !important;
    grid-column: span 3;
    grid-row: span 2;
    text-align: left;
}
/* login */
.auth-form-wrapper{
    grid-column: span 6;
    justify-content: center;
    align-items: center;
}
.auth-form{
    min-width: 50rem;
    margin: 0;
}
.form-header{
    margin: 0 0 2rem 0;
}
.form_name{
    font-weight: 600;
    font-size: 2.5rem;
    color: #004070;
}
.form-input{
    width: 100%;
    height: 4rem;
    position: relative;
    margin: 1.5rem 0;
}
.form-input input{
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    border: .1rem solid #00407029;
    outline: none;
    padding: 1rem 1rem 1rem 5rem;
}
.form-input i{
    position: absolute;
    left: 2rem;
    top: 1rem;
    font-size: 2rem;
    color: #5a5a5a;
}
.form-input .eye{
    position: absolute;
    left: unset;
    right: 1.5rem;
    top: 1.2rem;
    font-size: 1.8rem;
    color: #5a5a5a;
}
.pass-rules{
    font-size: 1.3rem;
    text-align: left;
}
.forgot-pass{
    float: right;
    text-decoration: none;
}
.forgot-pass i{
    margin: 0 .5rem ;
}
.btn-submit-auth{
    width: 100%;
    font-size: 2rem;
    border-radius: .5rem;
    padding: .7rem 0;
    margin: 2rem 0 0 0;
}
/* Footer */
footer{
    grid-column: span 6;
    padding: 0;
}
footer a{
    text-decoration: none;
    color: #004070;
}
.footer-top{
    padding: 1rem 0;
}
.footer-bottom{
    border-top: .1rem solid #00407029;
    justify-content: space-between;
    padding: 1rem 0;
}